//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Close Button
//  15. Drilldown
//  16. Dropdown
//  17. Dropdown Menu
//  18. Flex Video
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Meter
//  24. Off-canvas
//  25. Orbit
//  26. Pagination
//  27. Progress Bar
//  28. Reveal
//  29. Slider
//  30. Switch
//  31. Table
//  32. Tabs
//  33. Thumbnail
//  34. Title Bar
//  35. Tooltip
//  36. Top Bar

@import 'util/util';

// 1. Global
// ---------

$global-font-size: 15px;
$global-width: rem-calc(1210);
$global-lineheight: 1.5;
$foundation-palette: (
  primary: #cc2626,
  primaryDark: #a91717,
  secondary: #272e2f,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #ffffff;
$body-background: $white;
$body-font-color: #2d3637;
$body-font-family: 'montserratlight', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

@include add-foundation-colors;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
);
$grid-column-align-edge: true;
$block-grid-max: 8;

// 4. Base Typography
// ------------------
$opensans-font-family: 'open_sanslight', Helvetica, Roboto, Arial, sans-serif;
$ultralight-font-family: 'montserratultra_light', Helvetica, Roboto, Arial, sans-serif;

$header-font-family: 'montserratsemi_bold', Helvetica, Roboto, Arial, sans-serif;
$header-font-weight: bold;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-sizes: (
  small: (
    'h1': 24,
    'h2': 18,
    'h3': 15,
    'h4': 15,
    'h5': 15,
    'h6': 15,
  ),
  medium: (
    'h1': 25,
    'h2': 18,
    'h3': 15,
    'h4': 15,
    'h5': 15,
    'h6': 15,
  ),
);
$header-color: $body-font-color;
$header-lineheight: 1.4;
$header-margin-bottom: rem-calc(25);
$header-text-rendering: optimizeLegibility;
h1 {
  letter-spacing: rem-calc(-1);
  margin-bottom: rem-calc(40) !important;
}
span.h1 {
  letter-spacing: rem-calc(-1);
  margin-bottom: rem-calc(40) !important;
  font-size: rem-calc(24);
  font-family: $header-font-family;
  font-weight: bold;
  font-style: normal;
  color: $header-color;
  line-height: $header-lineheight;
  @include breakpoint(medium) {
    font-size: rem-calc(25);
  }
}
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$paragraph-lineheight: 1.66;
$paragraph-margin-bottom: rem-calc(20);
$paragraph-text-rendering: optimizeLegibility;
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: $dark-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;
$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

strong, b {
  color: map_get($foundation-palette, primary);
  font-weight: normal !important;
}

// 5. Typography Helpers
// ---------------------

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;

// 6. Abide
// --------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: map-get($foundation-palette, alert);
$form-label-color-invalid: map-get($foundation-palette, alert);
$input-error-color: map-get($foundation-palette, alert);
$input-error-font-size: rem-calc(12);
$input-error-font-weight: $global-weight-bold;

// 7. Accordion
// ------------

$accordion-background: $white;
$accordion-plusminus: true;
$accordion-item-color: foreground($accordion-background, $primary-color);
$accordion-item-background-hover: $light-gray;
$accordion-item-padding: 1.25rem 1rem;
$accordion-content-background: $white;
$accordion-content-border: 1px solid $light-gray;
$accordion-content-color: foreground($accordion-background, $primary-color);
$accordion-content-padding: 1rem;

// 8. Accordion Menu
// -----------------

$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $primary-color;

// 9. Badge
// --------

$badge-background: $primary-color;
$badge-color: foreground($badge-background);
$badge-padding: 0.3em;
$badge-minwidth: rem-calc(34);
$badge-font-size: rem-calc(16);

// 10. Breadcrumbs
// ---------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: rem-calc(18);
$breadcrumbs-item-color: $body-font-color;
$breadcrumbs-item-color-current: $breadcrumbs-item-color;
$breadcrumbs-item-color-disabled: $medium-gray;
$breadcrumbs-item-margin: 0.75rem;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-slash: true;

.breadcrumbs {
  font-family: 'montserrathairline', Helvetica, Roboto, Arial, sans-serif;
  a {
    text-decoration: underline;
    &:hover {
      color: map_get($foundation-palette, primary);
    }
  }
  li:after {
    content: "" !important;
    background-image: url("../img/breadCrumbsArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: rem-calc(4);
    height: rem-calc(6);
    display: inline-block;
    top: rem-calc(-2) !important;
  }
  li:last-child:after {
    display: none;
  }
}

// 11. Button
// ----------

$button-padding: rem-calc(16.5 31);
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $white;
$button-color-alt: $black;
$button-radius: rem-calc(4);
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: rem-calc(16),
  large: 1.25rem,
);
$button-opacity-disabled: 0.25;
.button {
  font-family: $header-font-family;
  letter-spacing: rem-calc(-1);
}
.button.arrow {
  padding: rem-calc(20 40 20 20) !important;
  position: relative;
  border-radius: rem-calc(5);
  &:after {
    content: "";
    width: rem-calc(7);
    height: rem-calc(12);
    background-image: url("../img/buttonArrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    right: rem-calc(14.5);
    top: rem-calc(22);
  }
}

// 12. Button Group
// ----------------

$buttongroup-margin: 1rem;
$buttongroup-spacing: 1px;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;

// 13. Callout
// -----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-border: 1px solid rgba($black, 0.25);
$callout-margin: 0 0 1rem 0;
$callout-padding: 1rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-radius: $global-radius;
$callout-link-tint: 30%;
.callout {
  position: fixed;
  top: rem-calc(16);

}

// 14. Close Button
// ----------------

$closebutton-position: right top;
$closebutton-offset-horizontal: 1rem;
$closebutton-offset-vertical: 0.5rem;
$closebutton-size: 2em;
$closebutton-lineheight: 1;
$closebutton-color: $dark-gray;
$closebutton-color-hover: $black;

// 15. Drilldown
// -------------

$drilldown-transition: transform 0.15s linear;
$drilldown-arrows: true;
$drilldown-arrow-color: $primary-color;
$drilldown-background: $white;

// 16. Dropdown
// ------------

$dropdown-padding: 1rem;
$dropdown-border: 1px solid $medium-gray;
$dropdown-font-size: 1rem;
$dropdown-width: 300px;
$dropdown-radius: $global-radius;
$dropdown-sizes: (
  tiny: 100px,
  small: 200px,
  large: 400px,
);

// 17. Dropdown Menu
// -----------------

$dropdownmenu-arrows: false;
$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: transparent;
$dropdownmenu-border: none;

// 18. Flex Video
// --------------

$flexvideo-margin-bottom: rem-calc(16);
$flexvideo-ratio: 4 by 3;
$flexvideo-ratio-widescreen: 16 by 9;

.flex-video.map {
  padding-bottom: 40%;
}

// 19. Forms
// ---------

$fieldset-border: 1px solid $medium-gray;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(16);
$helptext-color: $black;
$helptext-font-size: rem-calc(13);
$helptext-font-style: italic;
$input-prefix-color: $black;
$input-prefix-background: $light-gray;
$input-prefix-border: 1px solid $medium-gray;
$input-prefix-padding: 1rem;
$form-label-color: $white;
$form-label-font-size: rem-calc(14);
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 1.8;
$select-background:  map_get($foundation-palette, primaryDark);
$select-triangle-color: $white;
$select-radius: $global-radius;
$input-color: $white;
$input-placeholder-color: $white;
$input-font-family: inherit;
$input-font-size: rem-calc(16);
$input-background: map_get($foundation-palette, primaryDark);
$input-background-focus: map_get($foundation-palette, primary);
$input-background-disabled: $light-gray;
$input-border: none;
$input-border-focus: none;
$input-shadow: inset 0px 2px 2px 0px rgba(150,20,20,1);
$input-shadow-focus: inset 0px 2px 2px 0px rgba(150,20,20,1);
$input-cursor-disabled: default;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
$input-number-spinners: true;
$input-radius: $global-radius;
input, select {
  height: rem-calc(54) !important;
  padding-left: rem-calc(20) !important;
  padding-right: rem-calc(20) !important;
  margin-bottom: rem-calc(10) !important;
}
select {
  -webkit-box-shadow: inset 0px 2px 3px 1px rgba(150,20,20,1);
  -moz-box-shadow: inset 0px 2px 3px 1px rgba(150,20,20,1);
  box-shadow: inset 0px 2px 3px 1px rgba(150,20,20,1);
  border: none;
  &:focus {
    border: none !important;
    background-color: map_get($foundation-palette, primary);
    box-shadow: inset 0px 2px 2px 0px rgba(150,20,20,1) !important;
  }
}

form {
  background-color: map_get($foundation-palette, primary);
  padding: rem-calc(25 25 20 25) !important;
  border-radius: rem-calc(3);
  .button {
    background-color: $white;
    color: map_get($foundation-palette, primary);
  }
  textarea {
    min-height: rem-calc(150);
    padding: rem-calc(16 20);
    margin-bottom: rem-calc(10) !important;
  }
}

// 20. Label
// ---------

$label-background: $primary-color;
$label-color: foreground($label-background);
$label-font-size: rem-calc(14);
$label-padding: rem-calc(12 14);
$label-radius: $global-radius;

.label {
  letter-spacing: rem-calc(-0.5);
  text-transform: uppercase;
  font-family: $header-font-family;
}

// 21. Media Object
// ----------------

$mediaobject-margin-bottom: $global-margin;
$mediaobject-section-padding: $global-padding;
$mediaobject-image-width-stacked: 100%;

// 22. Menu
// --------

$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-item-padding: 0.7rem 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: map-get($foundation-palette, primary);
$menu-icon-spacing: 0.25rem;

// 23. Meter
// ---------

$meter-height: 1rem;
$meter-radius: $global-radius;
$meter-background: $medium-gray;
$meter-fill-good: $success-color;
$meter-fill-medium: $warning-color;
$meter-fill-bad: $alert-color;

// 24. Off-canvas
// --------------

$offcanvas-size: 100vw;
$offcanvas-background: map_get($foundation-palette, secondary);
$offcanvas-zindex: 10;
$offcanvas-transition-length: 0.5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($white, 0.5);
$maincontent-class: 'off-canvas-content';
$maincontent-shadow: 0 0 10px rgba($black, 0.5);

#offCanvas {
  height: 100%;
  padding-top: rem-calc(35);
  a {
    color: $white;
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  ul {
    padding-bottom: rem-calc(30);
    margin-top: rem-calc(30);
    border-bottom: rem-calc(1) solid $white;
  }
  .close-button {
    top: rem-calc(2);
    right: rem-calc(30);
    color: $white;
  }
}

// 25. Orbit
// ---------

$orbit-bullet-background: $medium-gray;
$orbit-bullet-background-active: $dark-gray;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: 0.1rem;
$orbit-bullet-margin-top: 0.8rem;
$orbit-bullet-margin-bottom: 0.8rem;
$orbit-caption-background: rgba($black, 0.5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, 0.5);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// 26. Pagination
// --------------

$pagination-font-size: rem-calc(15);
$pagination-margin-bottom: $global-margin;
$pagination-item-color: map_get($foundation-palette, secondary);
$pagination-item-padding: rem-calc(3 12);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: rem-calc(3);
$pagination-item-background-hover: $primary-color;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: foreground($pagination-item-background-current);
$pagination-item-color-disabled: $medium-gray;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-arrows: true;

.pagination {
  li {
    background-color: #eae9e9;
    font-family: $body-font-family;
  }
  .current {
    font-family: $header-font-family;
  }
  .pagination-previous, .pagination-next {
    background-color: map_get($foundation-palette, secondary);
    a {
      color: $white !important;
      font-size: rem-calc(14);
      letter-spacing: rem-calc(-1);
      &::before, &::after {
        display: none;
      }
    }
  }
}

// 27. Progress Bar
// ----------------

$progress-height: 1rem;
$progress-background: $medium-gray;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// 28. Reveal
// ----------

$reveal-background: $white;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-padding: rem-calc(30);
$reveal-border: none;
$reveal-radius: rem-calc(3);
$reveal-zindex: 1005;
$reveal-overlay-background: rgba(#2d3637, 0.8);
.reveal {
  overflow: visible !important;
  .close-button {
    background-color: map_get($foundation-palette, primary);
    color: $white;
    font-size: rem-calc(50);
    line-height: rem-calc(55);
    width: rem-calc(42);
    height: rem-calc(42);
    border-radius: 50%;
    @include breakpoint(medium) {
      position: absolute;
      top: rem-calc(-20);
      right: rem-calc(-20);
    }
    span {
      position: relative;
      top: rem-calc(-8.5);
      left: rem-calc(0);
    }
    font-family: $ultralight-font-family;
  }
}
@include breakpoint(640px down) {
  .reveal-overlay {
    background-color: $white !important;
  }
}

// 29. Slider
// ----------

$slider-width-vertical: 0.5rem;
$slider-transition: all 0.2s ease-in-out;
$slider-height: 0.5rem;
$slider-background: $light-gray;
$slider-fill-background: $medium-gray;
$slider-handle-height: 1.4rem;
$slider-handle-width: 1.4rem;
$slider-handle-background: $primary-color;
$slider-opacity-disabled: 0.25;
$slider-radius: $global-radius;

// 30. Switch
// ----------

$switch-background: $medium-gray;
$switch-background-active: $primary-color;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: $global-radius;
$switch-margin: $global-margin;
$switch-paddle-background: $white;
$switch-paddle-offset: 0.25rem;
$switch-paddle-radius: $global-radius;
$switch-paddle-transition: all 0.25s ease-out;

// 31. Table
// ---------

$table-background: $white;
$table-color-scale: 5%;
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: smart-scale($table-background, $table-color-scale / 2);
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-head-font-color: $body-font-color;
$show-header-for-stacked: false;

// 32. Tabs
// --------

$tab-margin: 0;
$tab-background: $white;
$tab-background-active: $light-gray;
$tab-item-font-size: rem-calc(12);
$tab-item-background-hover: $white;
$tab-item-padding: 1.25rem 1.5rem;
$tab-expand-max: 6;
$tab-content-background: $white;
$tab-content-border: $light-gray;
$tab-content-color: foreground($tab-background, $primary-color);
$tab-content-padding: 1rem;

// 33. Thumbnail
// -------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 34. Title Bar
// -------------

$titlebar-background: $white;
$titlebar-color: $body-font-color;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: 0.25rem;

// 35. Tooltip
// -----------

$has-tip-font-weight: $global-weight-bold;
$has-tip-border-bottom: dotted 1px $dark-gray;
$tooltip-background-color: $black;
$tooltip-color: $white;
$tooltip-padding: 0.75rem;
$tooltip-font-size: $small-font-size;
$tooltip-pip-width: 0.75rem;
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-radius: $global-radius;

// 36. Top Bar
// -----------

$topbar-padding: 0;
$topbar-background: $white;
$topbar-submenu-background: $topbar-background;
$topbar-title-spacing: 1rem;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;
