#page.contact {
  p strong {
    color: $body-font-color;
    font-family: $header-font-family;
  }
  #map {
    width: 100%;
    height: rem-calc(500);
  }
  .phone {
    background-color: #00a54f;
    color: $white;
    padding: rem-calc(5 10 3 8);
    border-radius: rem-calc(5);
    margin: rem-calc(5 0);
    display: inline-block;
    img {
      position: relative;
      top: rem-calc(-2);
    }
  }
  .mob {
    margin-left: rem-calc(8);
  }
}