#page.download {
	background-image:url('../userfiles/download_background.jpg');
	height:100%;
  .download {
    padding-top: rem-calc(50);
    margin-bottom: rem-calc(200);
  }
  footer {
  	bottom:0;
  	position:absolute;
  	width:100%;
  	 @include breakpoint(medium down) {
		position: initial;
		bottom:initial;
  	 }
  }
}