#page.service {
  .imgBox {
    margin: 0;
  }
  .contactBox {
    margin: 0;
  }
  article>:nth-child(1) {
  	margin-top: rem-calc(-50);
  }
  .textPadding h3.h1 {
     @extend h1;
    margin-top: rem-calc(50);
  }
  article > .row > .small-12 > p:last-child {
    margin-bottom: rem-calc(50);
  }
}