ul.arrowList {
  li {
    font-family: $body-font-family;
    font-size: rem-calc(16);
    list-style: none;
    padding-left: rem-calc(37);
    position: relative;
    &:before {
      position: absolute;
      left: rem-calc(2);
      top: rem-calc(7);
      content: "";
      width: rem-calc(17);
      height: rem-calc(12);
      background-image: url("../img/listArrow.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      transition: 200ms;
    }
  }
}