.categoryDetail {
  padding-top: rem-calc(15);
  margin-bottom: rem-calc(25);
  h1, span.h1 {
    font-size: rem-calc(30);
    font-family: $body-font-family !important;
    line-height: rem-calc(30);
    margin-bottom: 0 !important;
  }
}