.reveal.detailItem {
  max-width: rem-calc(800);
  width: initial;
  .descriptionImg img {
    border: rem-calc(1) solid #dcdbdb;
    margin-bottom: rem-calc(25);
  }

  .orbit-container {
    height: initial !important;
  }
  .orbit-slide {
    max-height: 100% !important;
  }
  .button {
    margin-bottom: 0;
  }
  .price {
    padding: 0;
    padding-bottom: rem-calc(25);
  }
  .close-button {
    top: rem-calc(6);
    right: rem-calc(6);
    background-color: map_get($foundation-palette, secondary);
    border-radius: rem-calc(3);
    width: rem-calc(32);
    height: rem-calc(32);
    span {
      font-size: rem-calc(52);
      top: rem-calc(-12);
    }
  }

  form {
    background-color: transparent;
    padding: 0 !important;
    .button {
      background-color: $button-background;
      color: $white;
      margin-bottom: rem-calc(10);
      margin-top: rem-calc(7);
      &:hover {
        background-color: scale-color($button-background, $lightness: -15%);
      }
    }
  }

  @include breakpoint(small down) {
    .button {
      margin-bottom: rem-calc(30);
    }
    .orbit {
      margin-bottom: rem-calc(60);
    }
  }
}

.info {
  height:1.2rem;
  width:1.2rem;
  color:white;
  background-color:#ad2020;
  border-radius: 50%; 
  line-height: 1.2rem;
  border: dotted 1px #8a8a8a;
}
.tooltip {
  z-index: 100000;
}