.download {
  .item {
    margin-bottom: rem-calc(30);
    text-align: center;
    background-color: map_get($foundation-palette, secondary);
    color: $white;
    padding: rem-calc(50 30);
    position: relative;
    h2 {
      color: $white;
    }
    .button {
      margin: 0;
    }
  }
  .item::after {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    content: "";
    position: absolute;
  }
  .item.pdf::after {
    background-image: url("../img/pdf.png");
    width: rem-calc(51);
    height: rem-calc(52);
    right: rem-calc(10);
    bottom: rem-calc(10);
  }
}