footer {
  background-color: map_get($foundation-palette, secondary);
  color: $white important;
  .vertical > li > a {
    color: $white;
    padding-top: rem-calc(39);
    padding-bottom: rem-calc(29);
  }
  .drop {
    @include breakpoint(large) {
      position: absolute;
    }
    padding: 0;
    background-color: #262d2e;
    width: 100%;
    color: $white !important;
    padding-top: rem-calc(55);
    left: 0;
    > .row {
      max-width: rem-calc(1210);
      margin: 0 auto;
    }
    a, h2, a b {
      color: $white !important;
    }
    h2 {
      font-size: rem-calc(24);
    }
    li {
      margin-bottom: rem-calc(20);
      b {
        font-family: $header-font-family;
      }
      &:hover {
        &:before {
          left: rem-calc(10);
          transition: 200ms;
        }
      }
    }
    > .row > .columns > div {
      background-color: #131617;
      padding: rem-calc(30 30 5 30);
      margin-bottom: rem-calc(33);
      border-radius: rem-calc(5);
    }
    ul {
      margin: 0 !important;
    }
    .button {
      margin-bottom: rem-calc(39);
      padding: rem-calc(20);
    }
    .columns {
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
  }
  .down {
    > a {
      padding-right: rem-calc(37);
      position: relative;
    }
    > a:after {
      border: none;
      margin: 0;
      width: rem-calc(10);
      height: rem-calc(7);
      content: "";
      background-image: url("../img/topBarArrowDownWhite.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: inline-block;
      position: absolute;
      top: rem-calc(43);
      right: rem-calc(15);
      transition: 200ms;
    }
    > a:hover:after {
      background-image: url("../img/topBarArrowDownWhite.png");
      transition: 200ms;
    }
  }
  .shrink img {
    margin-top: rem-calc(21);
  }
}