.persons {
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(54);
  h2 {
    font-size: rem-calc(25);
    text-transform: uppercase;
    margin-bottom: rem-calc(35);
  }
  .border {
    border: rem-calc(1) solid #ededed;
    position: relative;
    padding: rem-calc(35 30 0 30);
    border-radius: rem-calc(4);
    &:before {
      content: "";
      border-top: rem-calc(1) solid #ededed;
      border-right: rem-calc(1) solid #ededed;
      width: rem-calc(22);
      height: rem-calc(22);
      display: block;
      background-color: $white;
      position: absolute;
      transform: rotate(-45deg);
      top: rem-calc(-12);
      left: rem-calc(32);
    }
  }
  .person {
    margin-bottom: rem-calc(45);
    .small-8 {
      padding-left: rem-calc(2);
      padding-top: rem-calc(15);
      p {
        line-height: rem-calc(20);
      }
    }
  }
}