.price {
  margin-top: rem-calc(0);
  padding: rem-calc(25 0 20 0);
  p, p strong {
    color: $body-font-color;
  }
  p {
    font-size: rem-calc(14);
    font-family: $body-font-family;
    line-height: rem-calc(16);
    letter-spacing: rem-calc(-0.5);
    margin: 0;
  }
  p strong {
    font-size: rem-calc(16);
    font-family: $header-font-family;
  }
  .columns {
    border-right: rem-calc(1) solid #ebebeb;
    padding: rem-calc(9.5 10);
    &:last-child {
      border: none;
    }
  }
}