.team {
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);
  .column {
    padding-left: rem-calc(5);
    padding-right: rem-calc(5);
  }
  .teamate {
    img {
      width: 100%;
    }
    div {
      font-size: rem-calc(18);
      color: rgba(#000000, 0.7);
      letter-spacing: rem-calc(-1);
      padding: rem-calc(14 7 15 7);
    }
  }
}