.whyUs {
  background-color: #f8f9f9;
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(15);
  h2 {
    font-size: rem-calc(25);
    margin-bottom: rem-calc(70);
  }
  .column span {
    font-family: $ultralight-font-family;
    font-size: rem-calc(60);
    color: #d3d4d4;
    letter-spacing: rem-calc(-3);
    position: relative;
    top: rem-calc(-25);
  }
  h3 {
    font-size: rem-calc(18);
    letter-spacing: rem-calc(-1);
    margin-bottom: rem-calc(12);
  }
  p {
    font-size: rem-calc(18);
    letter-spacing: rem-calc(-0.5);
    line-height: rem-calc(24);
    font-family: $opensans-font-family;
  }
}

.whyUs .column > .row > .columns {
  &:first-child {
    padding-right: rem-calc(6.5);
  }
  &:last-child {
    padding-left: rem-calc(6.5);
  }
}

.whyUs > .small-up-1 > .column {
  margin-bottom: rem-calc(50);
}