#topBar .drop {
  border: none;
  padding: 0;
  width: 100%;
  left: rem-calc(0);
  background-color: #262d2e;
  color: $white !important;
  padding-top: rem-calc(55);
  position: absolute;
  @include breakpoint(medium down) {
    position: relative;
  }
  > .row {
    max-width: rem-calc(1210);
    margin: 0 auto;
  }
  a, h2, a b {
    color: $white !important;
  }
  h2 {
    font-size: rem-calc(24);
  }
  li {
    margin-bottom: rem-calc(20);
    b {
      font-family: $header-font-family;
    }
    &:hover {
      &:before {
        left: rem-calc(10);
        transition: 200ms;
      }
    }
  }
  > .row > .columns > div {
    background-color: #131617;
    padding: rem-calc(30 30 5 30);
    margin-bottom: rem-calc(33);
    border-radius: rem-calc(5);
  }
  ul {
    margin: 0 !important;
    background-color: transparent !important;
  }
  .button {
    margin-bottom: rem-calc(39);
    padding: rem-calc(20);
  }
  .columns {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
}